@use "sass:math";

@mixin service-complex-img-setup-width($scaler: 4%, $cv-bottom: 15%, $cv-left: 10%) {
        // .service-col1 {
        //     width: 29% - $scaler;
        // }
        .service-col2 {
            width: 47% - $scaler;
        }
        .svg {
            width: 80% - $scaler;
        }
        .svg.s-computer-vision {
            width: 90% - $scaler;
            margin-left: math.div($cv-left, 3);
        }
        .svg.s-intelligence {
            width: 90% - $scaler;
        }
}