$color-how-we-works-secondary: #4F6D7A;
$color-headers: #197195;

/*
 * 	Default theme - Owl Carousel CSS File
 */

// $color-white:			#FFF !default;

//nav

// $nav-color: 			$color-white !default;
// $nav-color-hover:		$color-white !default;
// $nav-font-size: 		14px !default;
// $nav-rounded: 			3px !default;
$owl-innostan-nav-margin: 			5px !default;
$owl-innostan-nav-padding: 			4px 7px !default;
// $nav-background: 		$color-how-we-works-secondary !default;
// $nav-background-hover:	$color-how-we-works-secondary !default;
$owl-innostan-nav-disabled-opacity: 	0.5 !default;

//dots

$owl-innostan-dot-width:				px2rem(6) !default;
$owl-innostan-dot-height:			px2rem(6) !default;
$owl-innostan-dot-rounded:			px2rem(30) !default;
$owl-innostan-dot-margin: 			px2rem(5) px2rem(10) !default;
$owl-innostan-dot-background-val:		$color-how-we-works-secondary;
$owl-innostan-dot-background:		$owl-innostan-dot-background-val !default;
$owl-innostan-dot-background-active:	$color-headers !default;

.owl-theme {
	// Styling Next and Prev buttons
	.owl-nav {
		margin-top: 10px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		[class*='owl-'] {
			// color: $nav-color;
			// font-size: $nav-font-size;
			margin: $owl-innostan-nav-margin;
			padding: $owl-innostan-nav-padding;
			// background: $nav-background;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;

			&:hover {
				// background: $nav-background-hover;
				// color:$nav-color-hover;
				text-decoration: none;
			}
		}
		.disabled {
			opacity: $owl-innostan-nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: $owl-innostan-dot-width;
				height: $owl-innostan-dot-height;
				margin: $owl-innostan-dot-margin;
				background: $owl-innostan-dot-background;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: $owl-innostan-dot-rounded;
			}

			&.active,
			&:hover {
				span {
            		$l: 15;
            		$s: 15;
            		$c: $owl-innostan-dot-background-active;
            		background-color: saturate(lighten($c, $l), $s);
				}
			}
		}
	}
}
