$period-min-width: 240px;

@mixin align-checkboxes-form-item {
  .ant-col:first-child {
    display: flex;
    justify-content: center;
    label {
      display: block;
      span {
        display: block;
      }
    }
  }
}

.form-input-rts-additional {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 2fr) repeat(5, 1fr) 2fr;
  gap: 30px;
  min-height: 123px;
  .period-input { min-width: $period-min-width; }
}

.from-input-reservation-grid {
  display: grid;
  grid-template-columns: repeat(7, 2fr);
  gap: 30px;
  min-height: 123px;
  .period-input { min-width: $period-min-width; }
  .ak-percent {
    grid-column-start: 1;
    grid-column-end: 2;

  }
}

.branding {
  margin-left: 1rem;
  margin-top: -1rem;
  text-align: center;
  @include align-checkboxes-form-item;
  label {
    margin-top: .3rem;
    margin-bottom: 0;
    word-wrap: break-word;
    max-width: 6rem;
  }
  .ant-form-item-control-input {
    margin-top: 1rem;
  }
  .need-branding {
    margin-top: -.5rem;
    text-align: center;
  }
}

.from-input-reservation-grid {
  .save-button {
    button { margin-top: 33px; }
  }
}


@media (max-width: 1997px) {
  .from-input-reservation-grid {
    .save-button { grid-column: span 2; }
  }
  .form-input-rts-additional {
    grid-template-columns: repeat(5, 2fr);
  }
}
@media (max-width: 1800px) {
  .from-input-reservation-grid {
    .save-button {
      grid-column-start: 6;
      grid-column-end: 8;
    }
  }
}

@media (max-width: 1600px) {
  .from-input-reservation-grid {
    //grid-template-columns: 1.4fr  repeat(7, .8fr);
    //.save-button {
    //  grid-column: span 2;
    //}
    .nalog-after-discount {
      grid-column-start: 6;
      grid-column-end: 8;
    }
  }
}
@media (max-width: 1400px) {
  .from-input-reservation-grid {
    grid-template-columns: 1fr  repeat(4, 1fr);
    //.save-button {
    //  grid-column: span 1;
    //}
    .nalog-after-discount { grid-column: span 1; }
    .save-button { grid-column: span 1; }
  }
  .form-input-rts-additional {
    grid-template-columns: repeat(5, 2fr);
    .period-input { grid-column: span 2; }
  }
}
@media (max-width: 1320px) {
  .from-input-reservation-grid {
    grid-template-columns: repeat(4, 1fr);
    .ak-percent { grid-column: span 1; }
    .ak-distribute-0 {
      grid-column: span 2 !important;
    }
    .save-button { grid-column: span 1; }
  }
}
@media (max-width: 1140px) {
  .from-input-reservation-grid {
    .save-button { grid-column: span 2; }
    .ak-select-partner  { grid-column: 1 / 3; }
  }
}
@media (max-width: 1070px) { .from-input-reservation-grid { .branding { margin-left: 1rem; } } }
@media (max-width: 1000px) { .from-input-reservation-grid { .branding { margin-left: .5rem; } } }
@media (max-width: 980px) { .from-input-reservation-grid { .branding { margin-left: 0; } } }

@media (max-width: 1200px) {
  .form-input-rts-additional {
    grid-template-columns: repeat(6, 2fr);
    .service-name { grid-column: span 2; }
    .period-input { grid-column: span 2; }
    .save-button {
      grid-column: span 2;
      //grid-column-start: 4;
      //grid-column-end: 6;
      button {
        //margin-top: 1.3rem !important;
      }
    }
  }
}

$nonrts-period-min-width: 305px;

.nonrts-1-row > .ant-row:nth-child(2), .nonrts-2-row > .ant-row:nth-child(2) {
  min-width: $nonrts-period-min-width;
}

.nonrts-3-row {
  .two-form-item-block {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-column: span 2;
    .ant-row.ant-form-item.editForm-item {
      //width: percentage(((100 - (2 * $separator_percent)) / 3) / 100);
    }
  }
.form-item-period {
    width: 100%;
    min-width: $nonrts-period-min-width;

    .ant-picker-range {
      width: 100%;
    }
  }
}
@media (max-width: 1320px) {
  div.nonrts-1-row, div.nonrts-2-row, div.nonrts-3-row {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px 30px;
  }
  div.nonrts-3-row {
    .two-form-item-block {
      display: contents;
    }
  }
}
@media (max-width: 1050px) {
  div.nonrts-1-row, div.nonrts-2-row, div.nonrts-3-row {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px 30px;
  }
  div.nonrts-3-row {
    .two-form-item-block {
      display: grid;
    }
  }

}
